name: Release

on:
  workflow_dispatch:
    inputs:
      version:
        description: 'The semantic version to use to generate a new release'
        required: true
        type: string
      branch:
        description: 'The branch to release from'
        required: true
        type: string
      prerelease:
        description: 'Is this a prerelease?'
        required: false
        type: boolean
        default: false

jobs:
  release-version:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          ref: ${{ inputs.branch }}
          fetch-depth: 0

      - name: Release Version
        env:
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
        run: |
          NOTE_FILE="$(mktemp).md"
          LATEST_VERSION=$(gh release list --exclude-drafts -L 1 | awk {'print $3'})
          GIT_COMMIT=$(git log ${LATEST_VERSION}..HEAD --pretty=format:"%h %s (%an)")
          cat - >$NOTE_FILE <<EOF
          # Changelog

          This is the changelog for version $GIT_TAG for project hoophq/testrc

          $GIT_COMMIT
          EOF

          gh release create ${{inputs.version}} -F $NOTE_FILE --title ${{inputs.version}} --prerelease=${{inputs.prerelease}}

