name: Release

on:
  workflow_dispatch:
    inputs:
      version:
        description: 'The semantic version to use to generate a new release'
        required: true
        type: string
      branch:
        description: 'The branch to release from'
        required: false
        default: main
        type: string
      prerelease:
        description: 'Is this a pre release?'
        required: false
        type: boolean
        default: false

run-name: |-
  Release version ${{ inputs.version }} from branch '${{ inputs.branch }}' ${{ inputs.prerelease && '(Pre-release)' || '(Production Release)' }}

jobs:
  release-version:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          ref: ${{ inputs.branch }}
          fetch-depth: 0

      - name: Release Version
        env:
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
        run: |
          VERSION=${{ inputs.version }} PRE_RELEASE=${{ inputs.prerelease }} ./scripts/publish-release.sh

